<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" 
	"http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	
	<!-- appender 영역: 로그를 출력할 유형(name), 출력 형태(PatternLayout) 등을 설정하는 태그 -->
	<!-- 이름이 console, ConsoleAppender: 콘솔에 출력을 해주는 객체 -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
	    <layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" 
		  value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
	    </layout>
	</appender>
	
	<!-- 이름 file: IO를 통해서 파일을 저장해주는 객체 RollingFileAppender-> 하루 한번 파일 새로 생성! -->
	<appender name="file" class="org.apache.log4j.RollingFileAppender">
	   <param name="Append" value="true" />

	   <!-- 저장할 위치 -->
	   <param name="File" value="./logs/log4j.log" />
	   <param name="DatePattern" value="'.'yyyyMMdd"/> <!-- 위의 ./logs/log4j.log가 하루 지나면 ./logs/log4j.yyyyMMdd 형식으로 바뀜 -->
	   <layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" 
			value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
	   </layout>
	</appender>
	
	<!-- logger 영역 -->
	<!-- 무엇을 출력할건지 name: 로그를 출력할 대상(class), value: 로그 레벨 -->
	<logger name="java.sql.Connection">
		<level value="TRACE"/>
	</logger>
	
	<logger name="java.sql.PreparedStatement">
		<level value="TRACE"/>
	</logger>
	
	<logger name="java.sql.ResultSet">
		<level value="TRACE"/>
	</logger>
	
	<!-- root 영역 -->
	<root>
		<level value="TRACE"/>
		<appender-ref ref="console"/> <!-- 콘솔 -->
		<appender-ref ref="file"/> <!-- 파일 -->
	</root>
</log4j:configuration>